Hello,

You're receiving this email because you requested a password reset for your account at UniShowTime.

Please go to the following page to choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This link will expire in 24 hours.

If you didn't request this password reset, you can safely ignore this email.

---
Need help? Our support team is here for you:
Email: meetdoshi2109@gmail.com
Phone: +91 9175138921

Best regards,
UniShowTime Team